
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$brand-primary: #00aced; 
$twitter-primary: #00aced;
$black: #4f4f4f; 
$twitter-bg: #c0deed;
$green: #8caf68;
$red: #ff6051; 

$font-stack: Helvetica, sans-serif;

body {
    font-family: Helvetica;
    font-weight: 500;
}
p {
    font-family: 'Source Sans Pro';
    font-size: 14pt;
}
h1 {
    color: $black;
    font-weight: 700;
}
.brand-header {
    font-weight: 600;
    text-align: center;
    font-size: 60pt;
    font-weight: 900;
    .fa-check {
        color: $green;
    }
    .fa-remove {
        color: $red;
    }
    
}

.primary {
    color: $twitter-primary;
}
.card {
    border-radius: 12px;
    border: 0px transparent solid;
    
    .card-header{
        background-color: $twitter-primary;
        font-weight: 700;
        border-radius: 12px 12px 0 0;
    }
    .card-block p { 
        color: $black;
    }
    .card-main {
        background-color: $twitter-bg;
    }
    .card-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 8px;
        text-align: center;
        width: 100%;
        border-radius: 0 0 12px 12px;;
        background-color: $twitter-primary;
        color: $twitter-bg;
        border: transparent;
    }
    border-radius: 12px;
    color: white;
    hr{
        background-color: $twitter-primary;
    }
    h1{
        font-size: 40pt;
        color: white;
        padding-top: 10px;
    }
}
.btn {
    font-family: Helvetica;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    &.btn-transparent {
        background-color: white;
        color: $twitter-primary;
        border: 1px $twitter-primary solid;
        &:hover {
           background-color: $twitter-primary;
           color: white;
        }
    }
}
.footer {
    position: fixed;
    bottom: 0;
    border-top: 1px $twitter-primary solid;
    color: $black;
}
.show-tweet{
    max-width: 450px;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 50px;
    border: 1px $twitter-bg solid;
    h1{
        font-size: 24pt;
        color: $twitter-primary;
        
    }
}
i {
    margin-left: 6px;
    margin-right: 6px;
}
.tool {
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    width: 23px;
    height: 23px;
    color: white;
    &.fa-check {
        background-color: $green;
    }
    &.fa-remove {
        background-color: $red;
    }
    border-radius: 50%;
}
blockquote {
    color: $black;
}
.tweet-options {
    margin-right: -15px;
    margin-top: -15px;
}


.display-profile {
    padding: 4px !important;
    text-align: center;
}
.display-avi {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 4px white solid;
    margin-bottom: -60px;
    margin-top: 20px;
}

.display-bio {
    height: 300px;
    width: auto;
    background-color: white;
}
